<mat-card>
  <mat-card-header>
    <mat-card-subtitle>{{getSubTitle()}}</mat-card-subtitle>
    <mat-card-title *ngIf="question">{{question.questionText}}</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="question">
    <mat-radio-group *ngIf="!question.hasMultipleCorrectAnswers()" aria-label="Select an option" [(ngModel)]="selectedAnswer">
      <mat-radio-button [disabled]="submitted" class="answer" *ngFor="let answer of question.answers" [value]="answer.text">
        {{ answer.text }}
        <span *ngIf="submitted && answer.isCorrect">&#9989;</span>
        <span *ngIf="submitted && !answer.isCorrect">&#10060;</span>
      </mat-radio-button>
    </mat-radio-group>
    <div *ngIf="question.hasMultipleCorrectAnswers()" class="multiple-choice">
      <mat-checkbox
        [disabled]="submitted"
        class="answer"
        *ngFor="let answer of question.answers"
        [(ngModel)]="answer.selected">
        {{ answer.text }}
        <span *ngIf="submitted && answer.isCorrect">&#9989;</span>
        <span *ngIf="submitted && !answer.isCorrect">&#10060;</span>
      </mat-checkbox>
    </div>
    <div *ngIf="submitted">
      <p *ngIf="goodAnswer">Good answer!</p>
      <p *ngIf="!goodAnswer">Not the right answer.</p>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="submitted" mat-button (click)="submit()">Submit answer</button>
    <button [disabled]="!submitted" mat-button (click)="nextSlide()">Next question</button>
  </mat-card-actions>
</mat-card>
