<div class="progressbar">
  <mat-progress-bar mode="determinate" value="{{process}}"></mat-progress-bar>
</div>
<ngb-carousel
  #carousel [interval]="0"
  [wrap]="false"
  [showNavigationArrows]="false"
  [showNavigationIndicators]="false"
  *ngIf="process < 100">
  <ng-template ngbSlide *ngFor="let question of questions; let i = index">
    <app-question (result)="processResult($event)"  [question]="question"></app-question>
  </ng-template>
</ngb-carousel>
<div *ngIf="process == 100" class="done">
  <h2>Cool, you're done!</h2>
  <h3>Your score is a <b>{{getScore()}}</b></h3>
</div>
<div class="return-button">
  <button (click)="return()" class="button">Go Back</button>
</div>
