<div class="progressbar">
  <mat-progress-bar mode="determinate" value="{{process}}"></mat-progress-bar>
</div>
<ngb-carousel
  #carousel [interval]="0"
  [wrap]="false"
  [showNavigationArrows]="false"
  [showNavigationIndicators]="false"
  *ngIf="process < 100">
  <ng-template ngbSlide *ngFor="let question of questions; let i = index">
    <app-question (result)="processResult($event)"  [question]="question"></app-question>
  </ng-template>
</ngb-carousel>
<div *ngIf="result" class="done">
  <h2>Cool, you're done!</h2>
  <h3>Your score is a <b>{{result.score}}</b></h3>
  <h3 *ngIf="result.currentHighScore && result.newHighScore"><b>It's your new high-score, good job!!</b></h3>
  <h3 *ngIf="result.currentHighScore && !result.newHighScore">Your current high-score is {{result.currentHighScore}}</h3>
</div>
<div class="return-button">
  <button (click)="return()" class="button">Go Back</button>
</div>
