.blue-button.mdc-button {
  background-color: #5C6BC0;
  color: white;
}

.action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}


.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  margin-bottom: 1rem;
}
